* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
body {
  background: linear-gradient(75deg, rgb(95, 209, 114), rgb(235, 73, 221));
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
}
.container {
  align-items: center;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}
.box {
  border: 1px solid transparent;
  border-radius: 7px;
  width: 300px;
  height: 300px;
}
img {
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 27px;
}
